<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QueryFromInternal.Properties.Settings.JMGJJFactConnectionString"
            connectionString="Data Source=172.16.10.8;Initial Catalog=JMGJJFact;User ID=sa;Password=Hli12345"
            providerName="System.Data.SqlClient" />
        <add name="QueryFromInternal.Properties.Settings.DataSourceConnectionString"
            connectionString="Data Source=19.120.11.76;User ID=jmzjj;Password=jmzjj"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>